.navbar {
    display: inline;
    margin-top: 1rem;
    box-shadow: 0 0 25px 0 black;
    background-color: transparent;
}

.navbar ul {
    display: flex;
}

.link {
    list-style-type: none;
    font-family: "Times New Roman", Arial, sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 1rem 2rem;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color:dodgerblue;
}



